body {
	margin:0;
	padding:0;
	border:0;		/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#FFF;
	min-width:600px;	/* Minimum width of layout - remove line if not required */
				/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}
a {
        text-decoration:none;
}
a:hover {
	color:#666666;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
        font-family:Verdana, Sans-Serif;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
        font-family:Verdana, sans-serif;
}
img {
    padding: 5px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
        text-align:center;
        font-family: Verdana, Sans-Serif;
        border-bottom: 1px solid #000000;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
        font-family: Verdana, Sans-Serif;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 10px 0;
	padding:0;
}
#header ul li {
        display:inline;
	list-style:none;
        text-align:center;
}
#header ul li a {
	display:inline;
	margin:1px 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#FFF;
	color: #0000CD;
        text-decoration:none;
	position:relative;
	left:15px;
	line-height:2em;
        font-family:Verdana, Sans-Serif;
}
#header ul li a:hover {
	color:#FF6600;
}
#header ul li a span {
	display:block;
}
#header imagem{
        width:800px;
        heigth:250px;
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000000;
        text-align:center;
        padding: 15px 0px 15px 0px;
        background: #FFFFFF;
        color: #000000;
        font-family:Verdana, Sans-Serif;
}
#footer a{
        color: #2F4F4F;
        font-family:Verdana, Sans-Serif;
}
#footer a:hover{
        color: #FF6600;
        text-decoration: underline;
        text-style:bold;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#EE;
	border-top:4px solid #000;
	margin:0;
	padding:6px 5px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;		/* width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;		/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
				only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
        text-align:justify;
}
/* 3 Column settings */
.threecol {
	background:#FFF;        /* right column background colour */
}
.threecol .colmid {
	right:25%;		/* width of the right column */
	background:#FFF;	/* center column background colour */
}
.threecol .colleft {
	right:50%;		/* width of the middle column */
	background:#FFF;	/* left column background colour */
}
.threecol .col1 {
	width:46%;		/* width of center column content (column width minus padding on either side) */
	left:102%;		/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:21%;		/* Width of left column content (column width minus padding on either side) */
	left:31%;		/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:21%;		/* Width of right column content (column width minus padding on either side) */
	left:85%;		/* Please make note of the brackets here:
	 			(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}
